body
{
    background-color:#fdfff6;
}

.navbar
{
    padding: 0px;
    top: 40px;
}
.navbar-nav
{
    float: left;
    margin: 5px;
}

.logo 
{
    float: left;
    height: 80px;
    width: 170px;
    margin:0px;
}

/*
.logo img 
{
    height: 170px;
}
*/

img {
    height: 100px;
}

.Filer 
{
    height: 40px; 
    list-style-type: none;
}

.add-margin
{
    margin: 5px
}

#createproduct {
    width: 150px
}

h1.createproduct {
    text-align: center;
}

.nav-link {
    
}