body
{
    background-color:cadetblue;
}

.navbar
{
    padding: 0px;
    top: 50px;
}
.navbar-nav
{
    float: left;
}

.logo 
{
    float: left;
    height: 80px;
    width: 250px;
}

.logo img 
{
    height: 200px;
}